* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: myFirstFont;
  src: url(Snoopy-Xe3K.ttf);
}

.container {
  display: grid;
  height: 1005;
  background-color: rgba(231, 231, 231, 0.616);
  gap: 1rem;
}
.header {
  background-color: rgb(44, 44, 44);
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  padding-left: 20rem;
  padding-right: 20rem;
}
.header ul{
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  list-style: none;
  color:grey;
}
.header ul li a{
  text-decoration: none;
  color: grey;
}
.apple-logo {
  width: 20px;
}
.button {
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: gray;
}
.iphone-13pro {
  background-color: rgb(255, 255, 255);
  display: grid;
  height: 80vh;
  padding: 5rem;
  background-image: url(/folder/iphone-13pro.jpg);
  background-repeat:no-repeat;
  background-size: 480px;
  background-position: bottom;
  justify-items: center;
  align-content: start;
  
}
.title-iphone13pro {
  text-align: center;
  font-size: 80px;
}
.h2-iphone13pro {
  text-align: center;
  font-weight: 100;
}
.links-iphone13pro {
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  padding:1rem;
  justify-self: center;
  gap: 3rem;
}
.links-iphone13pro a {
  text-decoration: none;
  font-size: large;
  color: #39399c;
}
.iphone-13 {
  background-color: #35283c;
  display: grid;
  height: 80vh;
  place-items: center;
  background-image:url(/folder/iphone_13_cover.jpg);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position:bottom;
  align-content: start;
  justify-items: center;
  
}
.iphone-13 h1 {
  color: white;
  font-size: 80px;
  padding-top: 4rem;

}
.iphone-13 h2 {
  color: pink;
  font-weight: 50;
  padding: 1rem;
}
.iphone-13-2 {
  padding-top: 0.1rem;
}
.links-iphone13 {
  display: grid;
  grid-auto-flow: column;
  justify-self: center;
  gap: 1rem;
}
.links-iphone13 a {
  text-decoration: none;
  color: #39399c;
  padding: 1rem;
}
.macbook-pro {
  background-color: rgb(255, 255, 255);
  display: grid;
  height: 80vh;
  place-items: center;
  background-image: url(/folder/macbookpro.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 900px;
  align-content:start;
  justify-items: center;
}
.macbook-pro h1 {
  display: grid;
  padding-top: 4rem;
  text-align: center;
  font-size: 80px;
}
.macbook-pro h2 {
  text-align: center;
  font-weight: 100;
}
.macbookpro-links {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  padding-top:1em;
}

.macbookpro-links a {
  text-decoration: none;
  color: #39399c;
}
.macbookpro-img {
  padding-bottom: 7rem;
}
.airpods {
  background-color: rgb(255, 255, 255);
  display: grid;
  height: 80vh;
  place-items: center;
  background-image: url(/folder/airpods.jpg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center -60px;
  align-content: end;

}
.airpods h1 {
  font-size: 80px;
}
.airpods h2 {
  font-weight: 100;
  font-size: 20px;
}
.airpods-links {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  padding:1rem;
  padding-bottom: 5rem;
}
.airpods-links a {
  text-decoration: none;
  color: #39399c;
}

.watch {
  background-color: #f5f5f7;
  display: grid;
  height: 80vh;
  justify-items: center;
  align-content: start;
  background-image: url(./folder/watch.jpg);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.watch-title {
  display: grid;
  grid-auto-flow: column;
  place-items: center;  
  gap: 0.5rem;
}
.watch-title h1 {
  padding-top: 0.5rem;
}
.watch-img {
  padding-top: 11rem;
}
.new-watch {
  padding-top: 7rem;
  color: orange;
  text-align: center;
}
.watch h3 {
  color: darkred;
  text-align: center;
}
.watch h2{
  font-size: 20px;
  font-weight: 100;
}

.watch-links {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  padding: 1rem;
}
.watch-links a {
  text-decoration: none;
  color: #39399c;
}
.homepod-mini {
  background-color: rgb(255, 255, 255);
  display: grid;
  height: 80vh;
  place-items: center;
  background-image: url(/folder/homepod.jpg);
  background-position: center bottom;
  background-size: 800px;
  background-repeat: no-repeat;
  justify-items: center;
  align-content: start;
}

.homepod-mini h1 {
  padding-top: 7rem;
  font-size: 40px;
}
.homepod-mini h2 {
  font-size: 20px;
  font-weight: 100;
  padding: 1rem;
}
.homepod-links {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}
.homepod-links a {
  text-decoration: none;
  color: #39399c;
}
.ipad-mini {
  background-color: rgb(255, 255, 255);
  display: grid;
  height: 80vh;
  place-items: center;
  gap: 1rem;
  background-image: url(/folder/ipad-mini-img.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: bottom center;
  justify-items: center;
  align-content: flex-start;
}
.ipad-logo {
  padding-top: 7rem;
}
.ipad-mini h2{
  font-size: 20px;
  font-weight: 100;
}
.ipad-links {
  padding-bottom: 6rem;
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}
.ipad-links a {
  text-decoration: none;
  color: #39399c;
}
.card {
  background-color: #080808;
  display: grid;
  height: 80vh;
  color: gray;
  place-items: center;
  background-image: url(/folder/apple-card.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  align-content: start;
  justify-items: center;
  gap: 0.5rem;
}
.card-title {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
  padding-top: 5rem;
}
.card-title h1 {
  padding-top: 0.7rem;
}
.card-h2 {
  display: grid;
  grid-auto-flow: row;
  justify-self: center;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  padding-top: 0.5rem;
}
.card-links {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  padding-top: 0.5rem;
}
.card-links a {
  text-decoration: none;
  color: #39399c;
}
.tv {
  background-color: orange;
  display: grid;
  height: 80vh;
  place-items: center;
}
.tv-title {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 1rem;
  padding-top: 5rem;
}
.tv-title h1 {
  padding-top: 0.7rem;
}

.tv-main p {
  font-family: myFirstFont;
  font-size: 80px;
  font-weight: bolder;
  justify-self: center;
  text-align: center;
}
#tv-first-p {
  font-size: 50px;
}
.tv-bottom-p{
  padding-bottom: 7rem;
}
.tv-stream{
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  padding-bottom: 4rem;
}
.footer {
  background-color: #e9e9e9;
  display: grid;
  height: 100vh;
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer-1 {
  display: grid;
  grid-auto-flow: column;
}
.footer-1 p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.footer-title{
  font-weight: bold;
  display: grid;
  padding-top: 1rem;
}
.footer-last a{
  text-decoration: none;
  color: #39399c;
}
.second-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}